*{
  outline:none;
  font-size: 99%;

}

.App{
  display: block;
  padding: 30px 10%;
}

.form-cover{
  margin-bottom:30px;
}

.response{
  width: 100%;
  display: flex;
  justify-content:center;
  margin-bottom: 10px;
}

label{
  color: #312293;
  display:block
}

.button-grid{
  padding-top: 18px;
}

input.form-control{
  width: 200px;
  line-height: 35px;
  font-size: 14px;
  padding: 3px 10px;
  border-radius: 4px;
  border: 1px solid #ccc
}

button{
  background: #312293;
  color: white;
  font-size: 16px;
  width: 200px;
  line-height: 40px;
  border-radius: 5px;
  border:none;
  
}

small{
  display:block;
  color: #880000;
}

table{
  width:100%
}
td{
  width:15%;
}

td.fullname{
  width:30%;
}

.prefix{
  background: #312293;
  display:flex;
  color:white;
  padding: 4px;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.trash{
  cursor: pointer;
}

.head{
  background: #f5f7fb;
  display: block;
  line-height: 30px;
  height: 40px;
  padding-left: 10px;
  margin: 10px 0px;
}

.end-list{
  text-align: right;
}

.wentwrong{
  color: #880000;
  text-align: center;
}

.form-grid, .control-grid{
  width: 100%;
  display:grid;
  grid-template-columns: 1.4fr 1fr;
  grid-gap: 10px;
}



/* @media */

@media screen and (max-width: 400px) {
  .form-grid, .control-grid{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }


  .App{
    padding: 30px 2%;
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
}

@media (min-width: 400px) and (max-width: 750px) {
  .form-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .control-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
  }

  .button-grid{
    display:flex;
    justify-content: center;
    padding-top: 0px;
  }

  input.form-control{
    width: 200px;
  }

  .App{
    padding: 30px 2%;
  }
}
